@page
@model RazorPagesAssignment1.Pages.Students.SearchModel
@{
}
<form>
    <p>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
